NEXT_PUBLIC_API_URL=

# URL бэкенда
BACKEND_URL=http://localhost:3000

# WebSocket: хост бэкенда в браузере
NEXT_PUBLIC_BACKEND_URL=http://localhost:3000

#явный WS URL (можно не указывать) 
NEXT_PUBLIC_WS_URL=
