:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: transparent;
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    --color-bg-loader: #000;
    --color-bg-primary: #08090c;
    --color-bg-secondary: #0d0e12;
    --color-bg-tertiary: rgba(26, 26, 26, .55);
    --color-bg-hover: rgba(255, 255, 255, 0.05);
    --color-text-primary: #ffffff;
    --color-bg-disabled: #08090c;
    --color-text-secondary: #9ca3af;
    --color-text-muted: #6b7280;
    --color-text-attach: #6b7280;
    --color-text-error: #ef4444;
    --color-text-success: #10b981;
    --color-bg-role-card: rgba(0, 0, 0, 0.249);
    --color-toggle-text: #9a2e49;
    --color-opacity-attach: 1;
    --color-chart-top: linear-gradient(360deg, rgba(75, 144, 255, 0.144) -12.04%, rgba(0, 0, 0, 0.2) 55.69%), #000000;
    --color-bg-home: radial-gradient(25.47% 28.24% at 0% 100%, rgba(255, 93, 134, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), radial-gradient(17.03% 46.18% at 100.57% 101.11%, rgba(49, 128, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #000000;
    --color-bg-join-classroom: radial-gradient(61.76% 61.76% at 50% -11.76%, rgba(255, 93, 134, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #000000;
    --color-bg-create-classroom: radial-gradient(52.96% 52.96% at 50% -11.76%, rgba(75, 144, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #000000;
    --color-bg-teacher-panel: linear-gradient(180deg, rgba(75, 144, 255, 0.2) -61.99%, rgba(0, 0, 0, 0.2) 44.31%), radial-gradient(52.96% 52.96% at 50% -11.76%, rgba(75, 144, 255, 0.084) 0%, rgba(0, 0, 0, 0.2) 100%), #000000;
    --color-border-primary: rgba(255, 255, 255, 0.1);
    --color-border-secondary: rgba(255, 255, 255, 0.06);
    --color-border-accent: rgba(59, 130, 246, 0.4);
    --color-accent: #3b82f6;
    --color-accent-hover: #2563eb;
    --color-accent-light: rgba(59, 131, 246, 0.03);
    --color-danger: #ef4444;
    --color-danger-hover: #dc2626;
    --color-background-chat: #000;
    --color-user-text-message: #ffffff;
    --color-text-toggle: #000;
    --color-bg-input-chat: rgba(0, 0, 0, 0.249);
    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-toggle-image: #2158b0;
    --color-loading-white: #000;
    --color-loading-code: #ffffff27;
    --color-create-button-room: #0b2247;
    --color-bg-teacher: linear-gradient(180deg, rgba(75, 144, 255, 0.2) -33.33%, rgba(0, 0, 0, 0.2) 44.31%), #000000;
}

.light {
    --color-bg-loader: #fff;
    --color-loading-code: #00000027;
    --color-create-button-room: #00eaff93;
    --color-bg-join-classroom: radial-gradient(61.76% 61.76% at 50% -11.76%, rgba(255, 0, 64, 0.457) 0%, rgba(255, 255, 255, 0.2) 100%), #ffffff;
    --color-bg-create-classroom: radial-gradient(52.96% 52.96% at 50% -11.76%, rgba(0, 98, 255, 0.639) 0%, rgba(255, 255, 255, 0.2) 100%), #ffffff;
    --color-bg-teacher-panel: linear-gradient(180deg, rgba(195, 218, 255, 0.427) -61.99%, rgba(255, 255, 255, 0.2) 44.31%), radial-gradient(52.96% 52.96% at 50% -11.76%, rgba(0, 98, 255, 0.418) 0%, rgba(255, 255, 255, 0.2) 100%), #ffffff;
    --color-bg-home: radial-gradient(25.47% 28.24% at 0% 100%, rgba(255, 0, 64, 0.514) 0%, rgba(255, 255, 255, 0.2) 100%), radial-gradient(17.03% 46.18% at 100.57% 101.11%, rgba(0, 98, 255, 0.639) 0%, rgba(255, 255, 255, 0.2) 100%), #ffffff;
    --color-bg-input-chat: rgba(155, 155, 155, 0.249);
    --color-text-attach: #ffffff;
    --color-chart-top: linear-gradient(360deg, rgba(75, 144, 255, 0.365) -12.04%, rgba(255, 255, 255, 0.2) 55.69%), #ffffff;
    --color-loading-white: #ffffff4a;
    --color-bg-role-card: rgba(0, 0, 0, 0.164);
    --color-bg-primary: #f8fafc;
    --color-toggle-text: #d4375e;
    --color-toggle-image: #2b72e4;
    --color-bg-secondary: #ffffff;
    --color-text-toggle: #fff;
    --color-bg-disabled: #cbcbcb;
    --color-bg-tertiary: #f1f5f9;
    --color-bg-hover: rgba(0, 0, 0, 0.04);
    --color-bg-teacher: linear-gradient(180deg, rgba(75, 144, 255, 0.2) -33.33%, rgba(0, 0, 0, 0.2) 44.31%), #000000;
    --color-background-chat: #fff;
    --color-opacity-attach: .5;
    --color-user-text-message: #fff;
    --color-text-primary: #0f172a;
    --color-text-secondary: #475569;
    --color-text-muted: #6f6f70;
    --color-text-error: #dc2626;
    --color-text-success: #059669;
    --color-border-primary: rgba(0, 0, 0, 0.1);
    --color-border-secondary: rgba(0, 0, 0, 0.06);
    --color-border-accent: rgba(59, 130, 246, 0.4);
    --color-accent: #3b82f6;
    --color-accent-hover: #2563eb;
    --color-accent-light: rgba(59, 130, 246, 0.1);
    --color-danger: #dc2626;
    --color-warning: #d97706;
    --color-success: #059669;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: transparent;
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}