@import "tailwindcss";
@import "../../shared/config/theme/theme.css";

@custom-variant dark (&:is(.dark *));

/* Скрытие встроенных браузерных кнопок показа пароля */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-strong-password-auto-fill-button {
    display: none !important;
}

input[type="password"] {
    -webkit-text-security: disc;
}

input[type="text"][style*="WebkitTextSecurity"] {
    font-family:
        text-security-disc,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
}